block variables
  -var active = "none"
  -var title = "Not Authenticated"
include ../parts/whole

    p
        | You need to be logged into a user with the correct level of access to view this page
      
 
      
 include ../parts/footer